#net "clk" loc="b8" | CLOCK_DEDICATED_ROUTE = FALSE;
net "clk" loc="m6" | CLOCK_DEDICATED_ROUTE = FALSE;
net "rst" loc="a7";

net "red<0>" loc="c14";
net "red<1>" loc="d13";
net "red<2>" loc="f13";
net "blue<0>" loc="h13";
net "blue<1>" loc="j13";
net "green<0>" loc="f14";
net "green<1>" loc="g13";
net "green<2>" loc="g14";

net "hs" loc="j14";
net "vs" loc="k13";

#net "leds<0>" loc="g1";
#net "leds<1>" loc="p4";
#net "leds<2>" loc="n4";
#net "leds<3>" loc="n5";
#net "leds<4>" loc="p6";
#net "leds<5>" loc="p7";
#net "leds<6>" loc="m11";
#net "leds<7>" loc="m5";