//! **************************************************************************
// Written by: Map P.68d on Tue Oct 29 21:43:41 2013
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "P56" LEVEL 1;
COMP "porta<0>" LOCATE = SITE "P134" LEVEL 1;
COMP "porta<1>" LOCATE = SITE "P133" LEVEL 1;
COMP "porta<2>" LOCATE = SITE "P132" LEVEL 1;
COMP "porta<3>" LOCATE = SITE "P131" LEVEL 1;
COMP "portb<0>" LOCATE = SITE "P58" LEVEL 1;
COMP "porta<4>" LOCATE = SITE "P127" LEVEL 1;
COMP "portb<1>" LOCATE = SITE "P67" LEVEL 1;
COMP "porta<5>" LOCATE = SITE "P126" LEVEL 1;
COMP "portb<2>" LOCATE = SITE "P79" LEVEL 1;
COMP "porta<6>" LOCATE = SITE "P124" LEVEL 1;
COMP "portb<3>" LOCATE = SITE "P81" LEVEL 1;
COMP "porta<7>" LOCATE = SITE "P123" LEVEL 1;
COMP "portc<0>" LOCATE = SITE "P95" LEVEL 1;
COMP "portb<4>" LOCATE = SITE "P83" LEVEL 1;
COMP "portc<1>" LOCATE = SITE "P98" LEVEL 1;
COMP "portb<5>" LOCATE = SITE "P85" LEVEL 1;
COMP "portc<2>" LOCATE = SITE "P100" LEVEL 1;
COMP "portb<6>" LOCATE = SITE "P88" LEVEL 1;
COMP "portc<3>" LOCATE = SITE "P102" LEVEL 1;
COMP "portb<7>" LOCATE = SITE "P93" LEVEL 1;
COMP "portd<0>" LOCATE = SITE "P50" LEVEL 1;
COMP "portc<4>" LOCATE = SITE "P105" LEVEL 1;
COMP "portd<1>" LOCATE = SITE "P40" LEVEL 1;
COMP "portc<5>" LOCATE = SITE "P112" LEVEL 1;
COMP "portd<2>" LOCATE = SITE "P34" LEVEL 1;
COMP "portc<6>" LOCATE = SITE "P115" LEVEL 1;
COMP "portd<3>" LOCATE = SITE "P32" LEVEL 1;
COMP "portc<7>" LOCATE = SITE "P117" LEVEL 1;
COMP "portd<4>" LOCATE = SITE "P29" LEVEL 1;
COMP "portd<5>" LOCATE = SITE "P26" LEVEL 1;
COMP "portd<6>" LOCATE = SITE "P23" LEVEL 1;
COMP "portd<7>" LOCATE = SITE "P21" LEVEL 1;
COMP "rst" LOCATE = SITE "P38" LEVEL 1;
TIMEGRP clk = BEL "cpu_clock" BEL "clock_divider.counter_0" BEL
        "clock_divider.counter_1" BEL "clock_divider.counter_2" BEL
        "clock_divider.counter_3" BEL "clock_divider.counter_4" BEL
        "clock_divider.counter_5" BEL "clock_divider.counter_6" BEL
        "clock_divider.counter_7" BEL "clock_divider.counter_8" BEL
        "clock_divider.counter_9" BEL "clock_divider.counter_10" BEL
        "clock_divider.counter_11" BEL "clock_divider.counter_12" BEL
        "clock_divider.counter_13" BEL "clock_divider.counter_14" BEL
        "clock_divider.counter_15" BEL "clock_divider.counter_16" BEL
        "clock_divider.counter_17" BEL "clock_divider.counter_18" BEL
        "clock_divider.counter_19" BEL "clock_divider.counter_20" BEL
        "clock_divider.counter_21" BEL "clk_BUFGP/BUFG";
TS_clk = PERIOD TIMEGRP "clk" 50 MHz HIGH 50%;
SCHEMATIC END;

