//! **************************************************************************
// Written by: Map P.68d on Mon Nov 11 10:26:07 2013
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "rst" LOCATE = SITE "B8" LEVEL 1;
PIN rst_pin<0> = BEL "rst" PINNAME PAD;
PIN "rst_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "porta<0>" LOCATE = SITE "U16" LEVEL 1;
COMP "porta<1>" LOCATE = SITE "V16" LEVEL 1;
COMP "porta<2>" LOCATE = SITE "U15" LEVEL 1;
COMP "porta<3>" LOCATE = SITE "V15" LEVEL 1;
COMP "portb<0>" LOCATE = SITE "K2" LEVEL 1;
COMP "porta<4>" LOCATE = SITE "M11" LEVEL 1;
COMP "portb<1>" LOCATE = SITE "K1" LEVEL 1;
COMP "porta<5>" LOCATE = SITE "N11" LEVEL 1;
COMP "portb<2>" LOCATE = SITE "L4" LEVEL 1;
COMP "porta<6>" LOCATE = SITE "R11" LEVEL 1;
COMP "portb<3>" LOCATE = SITE "L3" LEVEL 1;
COMP "porta<7>" LOCATE = SITE "T11" LEVEL 1;
COMP "portc<0>" LOCATE = SITE "H3" LEVEL 1;
COMP "portb<4>" LOCATE = SITE "J3" LEVEL 1;
COMP "portc<1>" LOCATE = SITE "L7" LEVEL 1;
COMP "portb<5>" LOCATE = SITE "J1" LEVEL 1;
COMP "portc<2>" LOCATE = SITE "K6" LEVEL 1;
COMP "portb<6>" LOCATE = SITE "K3" LEVEL 1;
COMP "portc<3>" LOCATE = SITE "G3" LEVEL 1;
COMP "portb<7>" LOCATE = SITE "K5" LEVEL 1;
COMP "portd<0>" LOCATE = SITE "G11" LEVEL 1;
COMP "portc<4>" LOCATE = SITE "G1" LEVEL 1;
COMP "portd<1>" LOCATE = SITE "F10" LEVEL 1;
COMP "portc<5>" LOCATE = SITE "J7" LEVEL 1;
COMP "portd<2>" LOCATE = SITE "F11" LEVEL 1;
COMP "portc<6>" LOCATE = SITE "J6" LEVEL 1;
COMP "portd<3>" LOCATE = SITE "E11" LEVEL 1;
COMP "portc<7>" LOCATE = SITE "F2" LEVEL 1;
COMP "portd<4>" LOCATE = SITE "D12" LEVEL 1;
COMP "portd<5>" LOCATE = SITE "C12" LEVEL 1;
COMP "portd<6>" LOCATE = SITE "F12" LEVEL 1;
COMP "portd<7>" LOCATE = SITE "E12" LEVEL 1;
PIN Mmult_n0360_pins<92> = BEL "Mmult_n0360" PINNAME CLK;
PIN Mmult_n0501_pins<92> = BEL "Mmult_n0501" PINNAME CLK;
PIN
        cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[31].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram_pins<28>
        = BEL
        "cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[31].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram"
        PINNAME CLKA;
PIN
        cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[30].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram_pins<28>
        = BEL
        "cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[30].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram"
        PINNAME CLKA;
PIN
        cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[29].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram_pins<28>
        = BEL
        "cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[29].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram"
        PINNAME CLKA;
PIN
        cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[28].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram_pins<28>
        = BEL
        "cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[28].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram"
        PINNAME CLKA;
PIN
        cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[27].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram_pins<28>
        = BEL
        "cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[27].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram"
        PINNAME CLKA;
PIN
        cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[26].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram_pins<28>
        = BEL
        "cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[26].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram"
        PINNAME CLKA;
PIN
        cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[25].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram_pins<28>
        = BEL
        "cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[25].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram"
        PINNAME CLKA;
PIN
        cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[24].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram_pins<28>
        = BEL
        "cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[24].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram"
        PINNAME CLKA;
PIN
        cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[23].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram_pins<28>
        = BEL
        "cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[23].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram"
        PINNAME CLKA;
PIN
        cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[22].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram_pins<28>
        = BEL
        "cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[22].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram"
        PINNAME CLKA;
PIN
        cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[21].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram_pins<28>
        = BEL
        "cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[21].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram"
        PINNAME CLKA;
PIN
        cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[20].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram_pins<28>
        = BEL
        "cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[20].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram"
        PINNAME CLKA;
PIN
        cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[19].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram_pins<28>
        = BEL
        "cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[19].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram"
        PINNAME CLKA;
PIN
        cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[18].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram_pins<28>
        = BEL
        "cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[18].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram"
        PINNAME CLKA;
PIN
        cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[17].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram_pins<28>
        = BEL
        "cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[17].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram"
        PINNAME CLKA;
PIN
        cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[16].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram_pins<28>
        = BEL
        "cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[16].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram"
        PINNAME CLKA;
PIN
        cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[15].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram_pins<28>
        = BEL
        "cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[15].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram"
        PINNAME CLKA;
PIN
        cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[14].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram_pins<28>
        = BEL
        "cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[14].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram"
        PINNAME CLKA;
PIN
        cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[13].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram_pins<28>
        = BEL
        "cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[13].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram"
        PINNAME CLKA;
PIN
        cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[12].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram_pins<28>
        = BEL
        "cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[12].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram"
        PINNAME CLKA;
PIN
        cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[11].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram_pins<28>
        = BEL
        "cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[11].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram"
        PINNAME CLKA;
PIN
        cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[10].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram_pins<28>
        = BEL
        "cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[10].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram"
        PINNAME CLKA;
PIN
        cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[9].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram_pins<28>
        = BEL
        "cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[9].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram"
        PINNAME CLKA;
PIN
        cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[8].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram_pins<28>
        = BEL
        "cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[8].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram"
        PINNAME CLKA;
PIN
        cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[7].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram_pins<28>
        = BEL
        "cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[7].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram"
        PINNAME CLKA;
PIN
        cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[6].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram_pins<28>
        = BEL
        "cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[6].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram"
        PINNAME CLKA;
PIN
        cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[5].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram_pins<28>
        = BEL
        "cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[5].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram"
        PINNAME CLKA;
PIN
        cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[4].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram_pins<28>
        = BEL
        "cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[4].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram"
        PINNAME CLKA;
PIN
        cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[3].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram_pins<28>
        = BEL
        "cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[3].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram"
        PINNAME CLKA;
PIN
        cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[2].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram_pins<28>
        = BEL
        "cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[2].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram"
        PINNAME CLKA;
PIN
        cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[1].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram_pins<28>
        = BEL
        "cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[1].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram"
        PINNAME CLKA;
PIN
        cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram_pins<28>
        = BEL
        "cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram"
        PINNAME CLKA;
TIMEGRP sys_clk_pin = BEL "brain.current_opcode_0" BEL
        "brain.current_opcode_1" BEL "brain.current_opcode_2" BEL
        "brain.current_opcode_3" BEL "brain.current_opcode_4" BEL
        "brain.current_opcode_5" BEL "brain.current_opcode_6" BEL
        "brain.current_opcode_7" BEL "brain.narrow_buffer_int_0" BEL
        "brain.narrow_buffer_int_1" BEL "brain.narrow_buffer_int_2" BEL
        "brain.narrow_buffer_int_3" BEL "brain.narrow_buffer_int_4" BEL
        "brain.narrow_buffer_int_5" BEL "brain.narrow_buffer_int_6" BEL
        "brain.narrow_buffer_int_7" BEL "brain.wide_buffer_int_0" BEL
        "brain.wide_buffer_int_1" BEL "brain.wide_buffer_int_2" BEL
        "brain.wide_buffer_int_3" BEL "brain.wide_buffer_int_4" BEL
        "brain.wide_buffer_int_5" BEL "brain.wide_buffer_int_6" BEL
        "brain.wide_buffer_int_7" BEL "brain.wide_buffer_int_8" BEL
        "brain.wide_buffer_int_9" BEL "brain.wide_buffer_int_10" BEL
        "brain.wide_buffer_int_11" BEL "brain.wide_buffer_int_12" BEL
        "brain.wide_buffer_int_13" BEL "brain.wide_buffer_int_14" BEL
        "brain.wide_buffer_int_15" BEL "brain.stack_pointer_0" BEL
        "brain.stack_pointer_1" BEL "brain.stack_pointer_2" BEL
        "brain.stack_pointer_3" BEL "brain.stack_pointer_4" BEL
        "brain.stack_pointer_5" BEL "brain.stack_pointer_6" BEL
        "brain.stack_pointer_7" BEL "brain.stack_pointer_8" BEL
        "brain.stack_pointer_9" BEL "brain.stack_pointer_10" BEL
        "brain.stack_pointer_11" BEL "brain.stack_pointer_12" BEL
        "brain.stack_pointer_13" BEL "brain.stack_pointer_14" BEL
        "brain.stack_pointer_15" BEL "fsmfake0_0" BEL "fsmfake0_1" BEL
        "fsmfake0_2" BEL "fsmfake0_3" BEL "brain.wide_buffer_0" BEL
        "brain.wide_buffer_1" BEL "brain.wide_buffer_2" BEL
        "brain.wide_buffer_3" BEL "brain.wide_buffer_4" BEL
        "brain.wide_buffer_5" BEL "brain.wide_buffer_6" BEL
        "brain.wide_buffer_7" BEL "brain.wide_buffer_8" BEL
        "brain.wide_buffer_9" BEL "brain.wide_buffer_10" BEL
        "brain.wide_buffer_11" BEL "brain.wide_buffer_12" BEL
        "brain.wide_buffer_13" BEL "brain.wide_buffer_14" BEL
        "brain.wide_buffer_15" BEL "mem_we_0" BEL "mem_data_in_0" BEL
        "mem_data_in_1" BEL "mem_data_in_2" BEL "mem_data_in_3" BEL
        "mem_data_in_4" BEL "mem_data_in_5" BEL "mem_data_in_6" BEL
        "mem_data_in_7" BEL "mem_addr_0" BEL "mem_addr_1" BEL "mem_addr_2" BEL
        "mem_addr_3" BEL "mem_addr_4" BEL "mem_addr_5" BEL "mem_addr_6" BEL
        "mem_addr_7" BEL "mem_addr_8" BEL "mem_addr_9" BEL "mem_addr_10" BEL
        "mem_addr_11" BEL "mem_addr_12" BEL "mem_addr_13" BEL "mem_addr_14"
        BEL "mem_addr_15" BEL "flags_carry" BEL "register_a_0" BEL
        "register_a_1" BEL "register_a_2" BEL "register_a_3" BEL
        "register_a_4" BEL "register_a_5" BEL "register_a_6" BEL
        "register_a_7" BEL "portc_buf_0" BEL "portc_buf_1" BEL "portc_buf_2"
        BEL "portc_buf_3" BEL "portc_buf_4" BEL "portc_buf_5" BEL
        "portc_buf_6" BEL "portc_buf_7" BEL "porta_buf_0" BEL "porta_buf_1"
        BEL "porta_buf_2" BEL "porta_buf_3" BEL "porta_buf_4" BEL
        "porta_buf_5" BEL "porta_buf_6" BEL "porta_buf_7" BEL "portb_buf_0"
        BEL "portb_buf_1" BEL "portb_buf_2" BEL "portb_buf_3" BEL
        "portb_buf_4" BEL "portb_buf_5" BEL "portb_buf_6" BEL "portb_buf_7"
        BEL "brain.pc_0" BEL "brain.pc_1" BEL "brain.pc_2" BEL "brain.pc_3"
        BEL "brain.pc_4" BEL "brain.pc_5" PIN "Mmult_n0360_pins<92>" PIN
        "Mmult_n0501_pins<92>" BEL "fsmfake0_1_1" BEL "fsmfake0_3_1" BEL
        "brain.pc_0_1" BEL "brain.pc_1_1" BEL "brain.pc_2_1" BEL
        "brain.pc_3_1" BEL "fsmfake0_2_1" BEL "fsmfake0_1_2" BEL
        "fsmfake0_3_2" BEL "clk_BUFGP/BUFG" BEL
        "cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/has_mux_a.A/sel_pipe_1"
        BEL
        "cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/has_mux_a.A/sel_pipe_2"
        PIN
        "cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[31].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram_pins<28>"
        PIN
        "cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[30].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram_pins<28>"
        PIN
        "cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[29].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram_pins<28>"
        PIN
        "cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[28].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram_pins<28>"
        PIN
        "cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[27].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram_pins<28>"
        PIN
        "cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[26].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram_pins<28>"
        PIN
        "cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[25].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram_pins<28>"
        PIN
        "cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[24].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram_pins<28>"
        PIN
        "cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[23].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram_pins<28>"
        PIN
        "cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[22].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram_pins<28>"
        PIN
        "cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[21].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram_pins<28>"
        PIN
        "cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[20].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram_pins<28>"
        PIN
        "cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[19].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram_pins<28>"
        PIN
        "cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[18].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram_pins<28>"
        PIN
        "cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[17].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram_pins<28>"
        PIN
        "cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[16].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram_pins<28>"
        PIN
        "cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[15].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram_pins<28>"
        PIN
        "cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[14].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram_pins<28>"
        PIN
        "cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[13].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram_pins<28>"
        PIN
        "cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[12].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram_pins<28>"
        PIN
        "cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[11].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram_pins<28>"
        PIN
        "cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[10].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram_pins<28>"
        PIN
        "cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[9].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram_pins<28>"
        PIN
        "cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[8].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram_pins<28>"
        PIN
        "cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[7].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram_pins<28>"
        PIN
        "cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[6].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram_pins<28>"
        PIN
        "cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[5].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram_pins<28>"
        PIN
        "cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[4].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram_pins<28>"
        PIN
        "cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[3].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram_pins<28>"
        PIN
        "cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[2].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram_pins<28>"
        PIN
        "cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[1].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram_pins<28>"
        PIN
        "cpu_memory/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s6_init.ram/SP.SIMPLE_PRIM18.ram_pins<28>";
TS_sys_clk_pin = PERIOD TIMEGRP "sys_clk_pin" 100 MHz HIGH 50%;
SCHEMATIC END;

