//! **************************************************************************
// Written by: Map P.68d on Mon Nov 04 01:11:18 2013
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "porta<0>" LOCATE = SITE "U16" LEVEL 1;
COMP "porta<1>" LOCATE = SITE "V16" LEVEL 1;
COMP "porta<2>" LOCATE = SITE "U15" LEVEL 1;
COMP "porta<3>" LOCATE = SITE "V15" LEVEL 1;
COMP "portb<0>" LOCATE = SITE "K2" LEVEL 1;
COMP "porta<4>" LOCATE = SITE "M11" LEVEL 1;
COMP "portb<1>" LOCATE = SITE "K1" LEVEL 1;
COMP "porta<5>" LOCATE = SITE "N11" LEVEL 1;
COMP "portb<2>" LOCATE = SITE "L4" LEVEL 1;
COMP "porta<6>" LOCATE = SITE "R11" LEVEL 1;
COMP "portb<3>" LOCATE = SITE "L3" LEVEL 1;
COMP "porta<7>" LOCATE = SITE "T11" LEVEL 1;
COMP "portc<0>" LOCATE = SITE "H3" LEVEL 1;
COMP "portb<4>" LOCATE = SITE "J3" LEVEL 1;
COMP "portc<1>" LOCATE = SITE "L7" LEVEL 1;
COMP "portb<5>" LOCATE = SITE "J1" LEVEL 1;
COMP "portc<2>" LOCATE = SITE "K6" LEVEL 1;
COMP "portb<6>" LOCATE = SITE "K3" LEVEL 1;
COMP "portc<3>" LOCATE = SITE "G3" LEVEL 1;
COMP "portb<7>" LOCATE = SITE "K5" LEVEL 1;
COMP "portd<0>" LOCATE = SITE "G11" LEVEL 1;
COMP "portc<4>" LOCATE = SITE "G1" LEVEL 1;
COMP "portd<1>" LOCATE = SITE "F10" LEVEL 1;
COMP "portc<5>" LOCATE = SITE "J7" LEVEL 1;
COMP "portd<2>" LOCATE = SITE "F11" LEVEL 1;
COMP "portc<6>" LOCATE = SITE "J6" LEVEL 1;
COMP "portd<3>" LOCATE = SITE "E11" LEVEL 1;
COMP "portc<7>" LOCATE = SITE "F2" LEVEL 1;
COMP "portd<4>" LOCATE = SITE "D12" LEVEL 1;
COMP "portd<5>" LOCATE = SITE "C12" LEVEL 1;
COMP "portd<6>" LOCATE = SITE "F12" LEVEL 1;
COMP "portd<7>" LOCATE = SITE "E12" LEVEL 1;
COMP "rst" LOCATE = SITE "B8" LEVEL 1;
TIMEGRP sys_clk_pin = BEL "cpu_clock" BEL "clock_divider.counter_0" BEL
        "clock_divider.counter_1" BEL "clock_divider.counter_2" BEL
        "clock_divider.counter_3" BEL "clock_divider.counter_4" BEL
        "clock_divider.counter_5" BEL "clock_divider.counter_6" BEL
        "clock_divider.counter_7" BEL "clock_divider.counter_8" BEL
        "clock_divider.counter_9" BEL "clock_divider.counter_10" BEL
        "clock_divider.counter_11" BEL "clock_divider.counter_12" BEL
        "clock_divider.counter_13" BEL "clock_divider.counter_14" BEL
        "clock_divider.counter_15" BEL "clock_divider.counter_16" BEL
        "clock_divider.counter_17" BEL "clock_divider.counter_18" BEL
        "clock_divider.counter_19" BEL "clock_divider.counter_20" BEL
        "clock_divider.counter_21" BEL "clock_divider.counter_22" BEL
        "clock_divider.counter_23" BEL "clock_divider.counter_24" BEL
        "clock_divider.counter_25" BEL "clk_BUFGP/BUFG";
TS_sys_clk_pin = PERIOD TIMEGRP "sys_clk_pin" 100 MHz HIGH 50%;
SCHEMATIC END;

