//! **************************************************************************
// Written by: Map P.68d on Sun Nov 03 23:30:30 2013
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "leds<0>" LOCATE = SITE "U16" LEVEL 1;
COMP "leds<1>" LOCATE = SITE "V16" LEVEL 1;
COMP "leds<2>" LOCATE = SITE "U15" LEVEL 1;
COMP "leds<3>" LOCATE = SITE "V15" LEVEL 1;
COMP "leds<4>" LOCATE = SITE "M11" LEVEL 1;
COMP "leds<5>" LOCATE = SITE "N11" LEVEL 1;
COMP "leds<6>" LOCATE = SITE "R11" LEVEL 1;
COMP "leds<7>" LOCATE = SITE "T11" LEVEL 1;
COMP "rst" LOCATE = SITE "B8" LEVEL 1;
TIMEGRP sys_clk_pin = BEL "slow_clk" BEL "counter_0" BEL "counter_1" BEL
        "counter_2" BEL "counter_3" BEL "counter_4" BEL "counter_5" BEL
        "counter_6" BEL "counter_7" BEL "counter_8" BEL "counter_9" BEL
        "counter_10" BEL "counter_11" BEL "counter_12" BEL "counter_13" BEL
        "counter_14" BEL "counter_15" BEL "counter_16" BEL "counter_17" BEL
        "counter_18" BEL "counter_19" BEL "counter_20" BEL "counter_21" BEL
        "counter_22" BEL "counter_23" BEL "clk_BUFGP/BUFG";
TS_sys_clk_pin = PERIOD TIMEGRP "sys_clk_pin" 100 MHz HIGH 50%;
SCHEMATIC END;

